:root {
  /* COLOR VARIABLE NAMES */
  --primary-lighter: #58586b;
  --primary: #40404a;
  --primary-darker: #26262e;
  --contrast: #ebebec;
}

.postCardEntire {
  border-radius: 20px;
  background-color: var(--primary)
}

.postTitleSection {
  font-size: 2em;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.postTitle {
  color: var(--contrast);
}

.titleBorder {
  width: 100%;
  border-bottom: 2px solid var(--contrast);
}

.postAuthor {
  text-align: center;
  font-style: italic;
  font-size: 0.95em;
  color: var(--contrast);
}

.postDescription {
  text-align: left;
  font-size: 1.2em;
  margin: 0px 30px 12px 30px;
}

.postVotes {
  text-align: center;
  background-color: orange;
  margin: 0px 0px 0px 0px;
}

.postVoteValue {
  display: inline-block;
}

.upvote {
  display: inline-block;
}

.downvote {
  display: inline-block;
}

.detector {
  background-color: red;
}

/* TEMPLATE CODE */
header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
